.footer {
  position: fixed;
  left: 1em;
  bottom: 1em;
  text-align: left;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.5em, 1.3em;
  border-radius: 2em;
  opacity: 0.95;
  backdrop-filter: blur(0.5em);
  width: 22em;
}

.footer span,
a {
  font-size: 0.9rem;
  color: #f02;
  opacity: 0.8;
  font-weight: 700;
}

.footer a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.footer a:hover {
  color: #ff6f82;
  transition: color 0.2s ease-in-out;
}

.footer h4,
.footer h5 {
  margin: 0;
  display: flex;
  justify-content: center;
}
